.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  display: inline-block;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: column;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 0px 40px 0px;
  position: relative;
  box-sizing: border-box;
  justify-content: space-between;
  height: 100vh;
  margin: 0px 10px 5px 0px;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.nav__logo {
  width: 58px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 0 5px 20px;
  padding-left: 10px;
}

.nav__links {
  margin: 8px 0 0;
  column-gap: 20px;
  display: flex;
  position: relative;
  list-style-type: none;
  bottom: 1000px;
  top: -90px;
  justify-content: flex-end;
  padding-left: 0;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.header__content {
  display: flex;
  margin: 0 10px 5px 20px;
  width: 100%;
  justify-content: space-between;
}

.header__title {
  font-size: 62px;
  line-height: 76px;
  font-weight: 500;
  width: 650px;
  max-width: 635px;
  margin-top: 128px;
}

.header__description {
  font-size: 20px;
  line-height: 30px;
  margin-top: 32px;
  max-width: 515px;
  margin-right: 50px;
  padding-right: 60px;
  padding-left: 10px;
}

.header__image {
  max-width: 636px;
  margin: 0 0 10px 20px;
}

.header__footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  margin: 0px 875px 0px 20px;
}

.header__address {
  margin: 0px 20px 0px 20px;
  color: #838383;
  display: flex;
  justify-content: flex-end;
}

.staff__title {
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 80px 20px 0px 20px;
  font-weight: 300;
  font-size: 66px;
  line-height: 20px;
}

.staff__subtitle {
  color: #fff;
  display: flex;
  justify-content: center;
  margin-bottom: 68px;
  font-size: 20px;
  line-height: 30px;
}

.content {
  height: 100vh;
}

.staff {
  background-image: url("../images/staff_picks_background.jpg");
  background-position: center;
  background-size: cover;
  padding: 20px 20px 20px 20px;
  margin-top: 20px;
}

.staff__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 760px;
  list-style-type: none;
  margin: 50px 250px 50px 250px;
  gap: 40px;
}

.card {
  height: 420px;
  width: 360px;
  list-style-type: none;
  background-color: #fff;
  margin-bottom: 40px;
  border-color: black;
  position: relative;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0px 10px 0px 5px;
}

.card__content {
  margin: auto 0;
  box-sizing: border-box;
  flex-direction: column;
  height: 100%;
  display: flex;
}

.card__title {
  font-size: 20px;
  justify-content: center;
  line-height: 30px;
  padding: 8px 40px 0px 10px;
  margin: 20px 0px 10px 0px;
}

.card__text {
  font-size: 16px;
  font-style: normal;
  padding: 8px 40px 0px 10px;
  margin: 20px 0px 10px 0px;
  justify-content: center;
  line-height: 20px;
}

.card__footer {
  color: #838383;
  margin-top: auto;
  padding-left: 10px;
  padding-right: 25px;
  justify-content: flex-end;
  position: absolute;
  bottom: -10px;
  font-size: 12px;
  line-height: 20px;
  margin-right: 0px;
  margin-bottom: 30px;
  margin-left: 0px;
}
